# Byte-compiled / optimized / DLL files
__pycache__/

user_data/
profiles/

cfg_vpn/
mitmproxy-ca-cert.p12
profile_data_source/profile.json
assets/Manifest/fonts-manifest.json
assets/JS_fonts_patch/font_patch.generated.js
assets/generated_fonts
assets/generated_fonts/Win32
assets/generated_fonts/Win32/cache_data/
assets/generated_fonts/Win32/fonts_index.json
assets/generated_fonts/MacIntel
assets/generated_fonts/MacIntel/cache_data/

logs/chrome-devtools-mcp.log
logs/intention_entitled.log
logs/proxy_full.log
AGENTS.md